services:

  nginx:
    image: nginx
    container_name: x2s3_nginx
    restart: unless-stopped
    depends_on:
      - x2s3
    ports:
      - 443:443
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./include:/etc/nginx/conf
      - ${CERT_DIR}:/certs:ro
      - ${NGINX_CACHE_DIR}:/var/cache/nginx

  x2s3:
    image: ghcr.io/janeliascicomp/x2s3:0.6.0
    container_name: x2s3
    restart: unless-stopped
    ports:
      - 8000
    volumes:
      - ${CONFIG_FILE}:/app/x2s3/config.yaml
      - ${VAR_DIR}:/app/x2s3/var
    environment:
      NUM_WORKERS: 8

