<!DOCTYPE html>
<html>
<head>
    <title>S3 Proxy: {{ request.url.path }}</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
</head>

<body>
    <a href="/"><img src="{{ url_for('static', path='/favicon-32x32.png') }}" alt="JProxy Logo"></a>
    
    <h2>{{ request.url.scheme }}://{{ request.url.hostname }}{% if request.url.port %}:{{ request.url.port }}{% endif %}{{ request.url.path }}</h2>
    <ul>
        {% if prefix %}
        <li><a href="/{{ target }}/{{ parent_prefix }}">..</a></li>
        {% endif %}
        {% for common_prefix in common_prefixes %}
            <li><a href="/{{ target }}/{{ common_prefix }}">{{ remove_prefix(prefix, common_prefix) }}</a></li>
        {% endfor %}
        {% for obj in contents %}
            <li><a href="/{{ target }}/{{ obj.key }}">{{ remove_prefix(prefix, obj.key) }}</a></li>
        {% endfor %}
    </ul>

</body>
</html>
