<!DOCTYPE html>
<html>
<head>
    <title>S3 Proxy: {{ request.url.path }}</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <meta name='robots' content='noindex,follow' />
</head>

<body>
    <a href="{{ index_url }}"><img src="{{ url_for('static', path='/favicon-32x32.png') }}" alt="x2s3 Logo"></a>
    
    <h2>{{ request.url.scheme }}://{{ request.url.hostname }}{% if request.url.port %}:{{ request.url.port }}{% endif %}{{ request.url.path }}</h2>
    <table style="width:100%">
    <thead>
        <tr>
            <td>Name</td>
            <td>Size</td>
            <td>Last Modified</td>
        </tr>
    </thead>
    <tbody>
        {% if prefix %}
        <tr><td><a href="{{ target_prefix }}/{{ parent_prefix }}">..</a></td><td></td><td></td></tr>
        {% else %}
        <tr><td><a href="{{ index_url }}">..</a></td><td></td><td></td></tr>
        {% endif %}
        {% for common_prefix in common_prefixes %}
        <tr><td><a href="{{ target_prefix }}/{{ common_prefix }}">{{ remove_prefix(prefix, common_prefix) }}</a></td><td></td><td></td></tr>
        {% endfor %}
        {% for obj in contents %}
        <tr><td><a href="{{ target_prefix }}/{{ obj.key }}">{{ remove_prefix(prefix, obj.key) }}</a></td><td>{{ obj.size }}</td><td>{{ obj.lastmod }}</td></tr>
        {% endfor %}
    </tbody>
    </table>

    {% if continuation_token %}
    <p>
        <a href="?continuation-token={{ continuation_token }}">More</a>
    </p>
    {% endif %}

</body>
</html>
