name: Python CI

permissions:
  contents: read

on:
  push:
    branches: [ main ]

# When this workflow is queued, automatically cancel any previous running
# or pending jobs from the same branch
concurrency:
  group: conda-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        python-version: ["3.12"]
    
    steps:
  
    - uses: actions/checkout@v4

    - name: Build and test 
      uses: prefix-dev/setup-pixi@v0.9.0
      with:
        pixi-version: v0.55.0
        cache: true
    - run: pixi run test

    - name: Upload pytest and coverage results
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: testcoverage-${{ matrix.os }}-py${{ matrix.python-version }}
        path: |
          htmlcov/*
